.calculator {
  margin-top: 30px;
}

.display {
  border: 4px solid var(--gb-light);
  padding: 20px;
  margin-bottom: 30px;
  text-align: right;
  font-size: 20px;
  min-height: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.span-2 {
  grid-column: span 2;
}


button {
  background-color: var(--gb-darkest);
  color: var(--gb-lightest);
  border: 3px solid var(--gb-light);
  font-family: inherit;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
}

button:active {
  background-color: var(--gb-lightest);
  color: var(--gb-darkest);
}